@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.leftPanel{float:left; width:40%}
.storeBox{float:left; width:170px;}
.rightPanel{float:left;}

h3{font-size:20px;}

.background {
  background-color: #e3e3e3;
  overflow-x: hidden;
}
.navbar-default{background-color: blue;}
.navbar-default .fa-star {color: gold;}
.navbar-right .fa {color:#fff;}
.footer-default{background-color: blue; color:white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;}
.roundBtn, .roundBtn:hover{border-radius:17px;background-color:blue;color:#fff;}

.filter-component {border-right: 1px solid darkgrey;}

ul.sort-component{display:inline;list-style-type: none;margin: 0;padding: 0;overflow: hidden;}
ul.sort-component li {float: left; cursor:pointer;}
ul.sort-component li a {display: block;color: black;text-align: center;padding: 16px;text-decoration: none;border-bottom: 1px solid transparent;font-weight:bold;}
ul.sort-component li a:hover {border-bottom: 1px solid blue;color:blue;}



.button4 {
  border-radius: 12px;
  margin-left: 10px;
  margin-top: 10px;
}
.ng5-slider .ng5-slider-pointer {
  cursor: pointer;
 width: 23px !important;
  height: 25px;
  top: -14px;
 background-color: coral !important;
  /* border-color: blue; */
  z-index: 3;
  border-radius: 16px;
}

